<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Map,Set"></script>
<link href="/styles/main.css" rel="stylesheet"></head>
 
<body>
    <div id="app">
        <!-- <h1>欢迎来到一灯后台管理系统</h1>
        <p>
            使用 router-link 组件来导航. -->
            <!-- 通过传入 `to` 属性指定链接. -->
            <!-- <router-link> 默认会被渲染成一个 `<a>` 标签 -->
            <!-- <router-link to="/" active-class="linkActive">用户列表</router-link>
            <router-link to="/new" active-class="linkActive">新建用户</router-link>
        </p> -->
        <!-- 路由出口 -->
        <!-- 路由匹配到的组件将渲染在这里 -->
        <!-- <router-view></router-view> -->
    </div>
<script type="text/javascript" src="/scripts/main.f2431c159dfb3d4bb71d.js"></script></body>
</html>